<h1>Friends Index</h1>
<h2>Total friends: {{model.length}}</h2>
<ul>
  {{#each friend in model}}
      <li>
        {{#link-to 'friends.show' friend.id}}{{friend.id}}{{/link-to}}
          {{friend.id}} - {{friend.fullName}}</li>
  {{/each}}
</ul>
